{% extends "base.html" %}
<!-- 1 -->
{% load i18n %}
<!-- 1 -->
{% block head_title %}{% trans "Sign Out" %}{% endblock %}
<!-- 1 -->
{% block content %}
<section class="center_page">
  <div
    class="container data_container gooeys invert_shadow"
    style="margin-top: -10vh"
  >
    <div class="inner_div back_shadow">
      <h1 class="hfib text-center">{% trans "Sign Out" %}</h1>
      <p class="text-center">
        {% trans 'Are you sure you want to sign out?' %}
      </p>

      <form
        class="display_center"
        method="post"
        action="{% url 'account_logout' %}"
      >
        {% csrf_token %}
        <!-- 1 -->
        {% if redirect_field_value %}
        <input
          type="hidden"
          name="{{ redirect_field_name }}"
          value="{{ redirect_field_value }}"
        />
        <!-- 1 -->
        {% endif %}
        <!-- 1 -->
        <button type="submit" class="mx-auto btn-grad_red">
          {% trans 'Sign Out' %}
        </button>
      </form>
    </div>
  </div>
</section>
{% endblock %}
