{% extends "base.html" %}
 
{% load i18n %}
 
{% block extra_title %}{% trans "Sign Out" %}{% endblock %}
 
{% block content %}
<section lang="en" class="center_page">
  <div
    class="container data_container gooeys invert_shadow"
    style="margin-top: -10vh"
  >
    <div class="inner_div back_shadow">
      <h1 class="hfib text-center">{% trans "Sign Out" %}</h1>
      <p class="text-center">
        {% trans 'Are you sure you want to sign out?' %}
      </p>

      <form
        class="display_center"
        method="post"
        action="{% url 'account_logout' %}"
      >
        {% csrf_token %}
         
        {% if redirect_field_value %}
        <input
          type="hidden"
          name="{{ redirect_field_name }}"
          value="{{ redirect_field_value }}"
        />
         
        {% endif %}
         
        <button type="submit" class="mx-auto btn-grad_red">
          {% trans 'Sign Out' %}
        </button>
      </form>
    </div>
  </div>
</section>
{% endblock %}
