{% extends "base.html" %}
 
{% load i18n %}
 
{% block extra_title %}{% trans "Signup" %}{% endblock %}
 
{% block content %}
 
<div class="container_background">
  <div class="container data_container gooeys invert_shadow">
    <div class="inner_div back_shadow">
      <h1 class="hf">{% trans "Sign Up" %}</h1>

      <p>
        {% blocktrans %}Already have an account? Then please
        <a href="{{ login_url }}"
          ><span class="aqua bold"><strong>Login</strong></span> </a
        >{% endblocktrans %}
      </p>

      <form
        class="hf"
        id="signup_form"
        method="post"
        action="{% url 'account_signup' %}"
      >
        {% csrf_token %}
         
        {{ form|crispy }}
         
        {% if redirect_field_value %}
        <input
          type="hidden"
          name="{{ redirect_field_name }}"
          value="{{ redirect_field_value }}"
        />
        {% endif %}
        <button class="btn-grad_blue" type="submit">
          {% trans "Sign Up" %} &raquo;
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
