{% extends "base.html" %}
<!-- 1 -->
{% load i18n %}
<!-- 1 -->
{% block head_title %}{% trans "Signup" %}{% endblock %}
<!-- 1 -->
{% block content %}
<!-- 1 -->
<div class="container_background">
  <div class="container data_container signup invert_shadow">
    <div class="inner_div back_shadow">
      <h1 class="hf">{% trans "Sign Up" %}</h1>

      <p>
        {% blocktrans %}Already have an account? Then please
        <a href="{{ login_url }}">Login</a>{% endblocktrans %}
      </p>

      <form
        class="hf"
        id="signup_form"
        method="post"
        action="{% url 'account_signup' %}"
      >
        {% csrf_token %}
        <!-- 1 -->
        {{ form|crispy }}
        <!-- 1 -->
        {% if redirect_field_value %}
        <input
          type="hidden"
          name="{{ redirect_field_name }}"
          value="{{ redirect_field_value }}"
        />
        {% endif %}
        <button class="btn-grad_blue" type="submit">
          {% trans "Sign Up" %} &raquo;
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
