{% extends "base.html" %}
<!-- 1 -->
{% load static %}
<!-- 1 -->
{% block head_title %} - About {% endblock head_title %}
<!-- 1 -->
{% block content %}
<section class="">
  <div class="container outer_container gooeys invert_shadow">
    <div class="inner_div back_shadow my-2">
      <div class="container mb-2">
        <div class="row">
          <div class="col">
            <hr />
            {% if product_count == 0 %}
            <h2 class="hfi mb-4 text-center">Your bag is empty.</h2>
            {% elif product_count == 1 %}
            <h2 class="hfi mb-4 text-center">
              {{ product_count }} item in your bag
            </h2>
            {% else %}
            <h2 class="hfi mb-4 text-center">
              {{product_count}} items in your bag
            </h2>
            {% endif %}
            <hr />
          </div>
        </div>
        <div class="row">
          <div class="col">
            {% if bag_items %}
            <div class="d-block d-md-none">
              <div class="row">
                <div class="col">
                  <h5 class="hfi">
                    <strong
                      >Bag Total: &euro;{{ bag_total|floatformat:2 }}</strong
                    >
                  </h5>
                  {% if selected_location == "None" %}
                  <p>
                    <small
                      >Delivary price will be will be caluclated <br />
                      when you address is know.</small
                    >
                  </p>
                  {% else %} {% if product.category == "painting" %}
                  <h5 class="hfi">
                    Delivary: &euro;{{code_parcel_price|floatformat:2 }}
                  </h5>
                  <small>(To {{code}})</small>
                  {% else %}
                  <h5 class="hfi">
                    Delivary: &euro;{{ code_packet_price|floatformat:2 }}
                  </h5>
                  <small>(To {{selected_location}})</small>
                  {% endif %} {% endif %}

                  <h4 class="mt-4">
                    <strong class="hf"
                      >Grand Total:
                      <span class="hf">&euro;</span>
                      {{grand_total|floatformat:2}}</strong
                    >
                  </h4>
                  {% if free_delivery_delta > 0 %}
                  <p class="mb-1 text-danger">
                    You could get free delivery by spending just
                    <strong
                      ><span class="hfib">&euro;</span>{{ free_delivery_delta
                      }}</strong
                    >
                    more!
                  </p>
                  {% endif %}
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <a href="{% url 'shop:shop' %}" class="hfi btn-grad_pink">
                    <span class="icon">
                      <i class="fas fa-arrow-circle-left"></i>
                    </span>
                    <span class="text-uppercase mx-1">Keep Shopping</span>
                  </a>
                  <a
                    href="{% url 'checkout:address' %}"
                    class="hfi btn-grad_blue"
                  >
                    <span class="text-uppercase mx-2">Checkout</span>
                    <span class="icon">
                      <i class="fas fa-lock"></i>
                    </span>
                  </a>

                  <p class="text-muted mb-5">
                    A summary of your bag contents is below
                  </p>
                </div>
              </div>
              {% for item in bag_items %}
              <div class="row">
                <div class="col-6 mb-2">
                  {% if item.product.image %}
                  <img
                    class="img-fluid rounded"
                    src="{{ item.product.image.url }}"
                    alt="{{ item.product.name }}"
                    style="width: 8rem"
                  />
                  {% else %}
                  <img
                    class="img-fluid rounded"
                    src="{{ MEDIA_URL }}no_image.png"
                    alt="{{ item.product.name }}"
                    style="width: 8rem"
                  />
                  {% endif %}
                </div>
                <div class="col-6 mb-2">
                  <p class="my-0 text-center">{{ item.product.name}}</p>
                </div>
                <div class="col-6 order-sm-last">
                  <p class="my-0 text-center">
                    &euro;{{ item.product.get_price }}
                  </p>
                </div>
                <div class="col-6 order-sm-last">
                  <a
                    class="remove-item text-danger text-center"
                    id="remove_{{ item.item_id }}"
                  >
                    <i class="fas fa-lg fa-trash-alt"></i>
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <hr />
                </div>
              </div>
              {% endfor %}
              <div class="btt-button shadow-sm rounded-2 border border-black">
                <a class="btt-link d-flex h-100">
                  <i
                    class="fas fa-angle-double-up text-black mx-auto my-auto"
                  ></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-responsive rounded d-none d-md-block">
        <table class="table table-sm table-borderless">
          <thead class="text-black">
            <tr>
              <th scope="col">Product</th>
              <th scope="col">Name</th>
              <th scope="col">Price</th>
              <!-- <th scope="col">Remove</th> -->
            </tr>
          </thead>

          {% for item in bag_items %}
          <tr>
            <td class="pl-1 pr-3 w-25">
              {% if item.product.image %}
              <img
                class="img-fluid rounded"
                src="{{ item.product.image.url }}"
                alt="{{ item.product.name }}"
                style="width: 8rem"
              />
              {% else %}
              <img
                class="img-fluid rounded"
                src="{{ MEDIA_URL }}no_image.png"
                alt="{{ item.product.name }}"
                style="width: 8rem"
              />
              {% endif %}
            </td>
            <td class="py-3">
              <p class="my-0">{{ item.product.name}}</p>
            </td>
            <td class="py-3">
              <p class="my-0">&euro;{{ item.product.get_price }}</p>
            </td>
            <td class="py-3">
              <p class="my-0">
                <a
                  class="remove-item text-danger text-center"
                  id="remove_{{ item.item_id }}"
                >
                  <i class="fas fa-lg fa-trash-alt white"></i>
                </a>
              </p>
            </td>
          </tr>

          {% endfor %}
          <tr>
            <td colspan="5" class="pt-5 text-right">
              <h5 class="hfi">
                <strong>Bag Total: &euro;{{ bag_total|floatformat:2 }}</strong>
              </h5>
              {% if selected_location == "None" %}
              <a href="{% url 'checkout:address' %}"
                ><small>Add address for Delivary cost</small></a
              >
              <!-- 1 -->
              {% else %}
              <!-- 1 -->
              {% if product.category.name == "paintings" %}
              <h5 class="hfi">
                Delivary: &euro;{{code_parcel_price|floatformat:2 }}
              </h5>
              <small>(To {{selected_location}})</small>
              {% else %}
              <h5 class="hfi">
                Delivary: &euro;{{ code_packet_price|floatformat:2 }}
              </h5>
              <small>(To {{selected_location}})</small>
              {% endif %}
              <!-- 1 -->
              {% endif %}

              <h4 class="mt-4">
                {% if location_name == "None" %}
                <strong class="hf"
                  >Total:
                  <span class="hf">&euro;</span>
                  {{grand_total|floatformat:2}}</strong
                ><br />
                <small>Without Delivary</small>
                {% else %}
                <strong class="hf"
                  >Grand Total:
                  <span class="hf">&euro;</span>
                  {{grand_total|floatformat:2}}</strong
                >
                {% endif %}
              </h4>
            </td>
          </tr>
          <tr>
            <td colspan="5" class="text-right">
              <a
                href="{% url 'checkout:address' %}"
                class="hfi btn-grad_blue float-right ml-1"
              >
                <span class="mx-2">Checkout</span>
                <span class="icon">
                  <i class="fas fa-lock"></i>
                </span>
              </a>
              <a
                href="{% url 'shop:shop' %}"
                class="hfi btn-grad_pink float-left"
              >
                <span class="icon">
                  <i class="fas fa-arrow-circle-left"></i>
                </span>
                <span class="mx-1">Keep Shopping</span>
              </a>
            </td>
          </tr>
        </table>
      </div>
      {% else %}
      <a href="{% url 'shop:shop' %}" class="hfi btn-grad_pink">
        <span class="icon">
          <i class="fas fa-arrow-circle-left"></i>
        </span>
        <span class="text-uppercase mx-1">Keep Shopping</span>
      </a>
      {% endif %}
    </div>
  </div>
</section>

{% endblock content %}
<!-- 1 -->
{% block postloadjs %}
<!-- 1 -->
{{ block.super }}
<script type="text/javascript">
  // Remove item and reload on click
  $(".remove-item").click(function (e) {
    var csrfToken = "{{ csrf_token }}";
    var itemId = $(this).attr("id").split("remove_")[1];
    var url = `/bag/remove/${itemId}/`;
    var data = {
      csrfmiddlewaretoken: csrfToken,
    };
    $.post(url, data).done(function () {
      location.reload();
    });
  });
</script>
{% endblock postloadjs %}
