{% extends "base.html" %}
<!-- 1 -->
{% load static %}
<!-- 1 -->
{% block head_title %} - About {% endblock head_title %}
<!-- 1 -->
{% block content %}
<section class="flyers">
  <div class="container data_container">
    <div class="inner_div_about invert_shadow">
      <h1 class="display-3 text-center hfi">Iseult McCormack</h1>
      <h4 class="text-center hfi">Artest, Mother, Life Lover</h4>
      {% for bio in about %}
      <p>{{ bio.bio|safe }}</p>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock content %}
