{% extends "base.html" %}
 
{% load static %}
 
{% block head_title %}| Contact Iseult {% endblock head_title %}
 
{% block content %}
<section lang="en" class="gooey4">
  <div class="container data_container">
    <div class="inner_div invert_shadow">
      <h1 class="display-3 text-center hfi">Get In Touch</h1>
      <p>You can get in touch with me here.</p>
      <form method="POST" class="">
        {% csrf_token %}
         
        {{ form|crispy }}
        <input type="submit" class="btn-grad_blue hfi" value="Send Message" />
      </form>
    </div>
  </div>
</section>
{% endblock content %}
