{% extends "base.html" %}
<!-- 1 -->
{% load static %}
<!-- 1 -->
{% block head_title %}| Contact {% endblock head_title %}
<!-- 1 -->
{% block content %}
<section class="flyers">
  <div class="container data_container">
    <div class="inner_div invert_shadow">
      <h1 class="display-3 text-center hfi">Get In Touch</h1>
      <p>You can get in touch with me here.</p>
      <form method="POST" class="">
        {% csrf_token %}
        <!-- 1 -->
        {{ form|crispy }}
        <input
          type="submit"
          class="btn-grad_blue w-100 hfi"
          value="Send Message"
        />
      </form>
    </div>
  </div>
</section>
{% endblock content %}
