{% extends "base.html" %}
<!-- 1 -->
{% load static %}
<!-- 1 -->
{% block head_title %} - About {% endblock head_title %}
<!-- 1 -->
{% block content %}
<main class="flyers">
  <section>
    <div class="container-fluid">
      <div class="row mb-4">
        <div class="container index_container">
          <img
            src="{% static 'img/Logo-words-black-trans.png' %}"
            alt="hero_logo"
          />
          <h5 class="text-center">
            An Abstract Intuitive painter working in the mixed media. Mainly
            acrylics and alcohol inks
          </h5>
        </div>
      </div>
    </div>
  </section>
  <section class="">
    <div class="container-fluid">
      <div class="row inner_div invert_shadow">
        <h1 class="col-12 display-3 text-center hfi">Iseult McCormack</h1>
        <h4 class="col-12 text-center hfi">Artest, Mother, Life Lover</h4>
        {% for bio in about %}
        <div class="mx-auto">{{ bio.bio|safe }}</div>
        {% endfor %}
        <br />
        <hr class="black_hr" />
        <h2 class="col-12 display-4 text-center hfi">My Art</h2>
        <br />
        <div class="row">
          <div class="col-6">
            {% for scarf in scarfs %}
            <h3 class="hfi text-center">{{ scarf.heading }}</h3>
            <hr class="black_hr" />
            <p>{{ scarf.discription|safe}}</p>
            {% endfor %}
            <a
              href="{% url 'shop:shop' %}?category=scarves"
              class="btn-grad_pink hf w-50"
              >My Scarf Collection</a
            >
          </div>
          <div class="col-6">
            {% for painting in paintings %}
            <h3 class="hfi text-center">{{ painting.heading }}</h3>
            <hr class="black_hr" />
            <p>{{ painting.discription|safe }}</p>
            {% endfor %}
            <a
              href="{% url 'shop:shop' %}?category=paintings"
              class="btn-grad_blue hf w-50"
              >My painting Collection</a
            >
          </div>
        </div>
        <!-- Add carsil -->
      </div>
    </div>
  </section>
</main>

<!-- 1 -->
{% endblock content %}
