{% extends "base.html" %}
<!-- 1 -->
{% load static %}
<!-- 1 -->
{% block head_title %} - About {% endblock head_title %}
<!-- 1 -->
{% block content %}
<main>
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="container index_container">
          <img
            src="{% static 'img/Logo-words-black-trans.png' %}"
            alt="hero_logo"
          />
          <p class="text-center">
            An Abstract Intuitive painter working in the mixed media. Mainly
            acrylics and alcohol inks
          </p>
        </div>
      </div>
    </div>
  </section>
</main>

<!-- 1 -->
{% endblock content %}
