{% extends "base.html" %}
<!-- 1 -->
{% load static %}
<!-- 1 -->
{% block head_title %}| Terms & Conditions {% endblock head_title %}
<!-- 1 -->
{% block content %}
<section class="">
  <div class="container data_container invert_shadow">
    <div class="inner_div">
      {% for term in terms %}
      <h1 class="col-12 display-3 text-center hfi">{{ term.name }}</h1>
      <p>
        <small class="text-muted">Updated: {{term.update|date:"d M Y"}}</small>
      </p>
      {{term.terms|safe}}
      <ul>
        If you have any questions about this Privacy Policy, You can contact us:
        <li>
          <a href="mailto:iseultmccormack@gmail.com"
            >By email:&nbsp;iseultmccormack@gmail.com</a
          >
        </li>
      </ul>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock content %}
