{% extends "base.html" %}

{% load static %}

{% load mathfilters %}

{% block head_title %} | Dashboard {% endblock head_title %}

{% block content %}

<section lang="en" class="gooeys">
  <div class="row inner_div profiles_dashboard_inner invert_shadow">
    <!-- Header -->
    <div class="col-12">
      <hr />
      <h2 class="logo-font mb-4 display-4 text-center hfi">
        {{profile.user|title }}'s Dashboard
      </h2>
      <hr />
    </div>
    <!-- Address Form -->
    <div class="col-12 col-lg-6 dashbord_blocks">
      <h4 class="hf text-center">Shipping Details</h4>
      <hr />
      <form class="mt-3" action="{% url 'profiles:profile' %}" method="POST" id="profile-update-form">
        {% csrf_token %}

        {{ form|crispy }}
        <button class="btn-grad_blue hfi mb-2 w-100">Update Details</button>
      </form>
      <hr />
    </div>
    <!-- Order History  -->
    <div class="col-12 col-lg-6 dashbord_blocks">
      <h4 class="hf text-center">Order History</h4>
      <hr class="black_hr" />
      <div class="order-history table-responsive">
        <table class="table table-sm table-borderless">
          <thead>
            <tr>
              <th class="hf">Order Number</th>
              <th class="text-center hf">Date</th>
              <th class="text-right hf">Grand Total</th>
            </tr>
          </thead>
          <tbody>
            {% for order in orders %}
            <tr>
              <td>
                <a href="{% url 'profiles:order_history' order.order_number %}" title="{{ order.order_number }}">
                  {{order.order_number }}
                </a>
              </td>
              <td class="text-center">{{ order.date|date:"d/m/Y" }}</td>
              <td class="text-right">
                &euro;{{ order.grand_total|div:100|floatformat:2 }}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
{% endblock content %}

{% block postloadjs %}

{{ block.super }}
<script type=" text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}
