{% extends "base.html" %}
<!-- 1 -->
{% load static %}
<!-- 1 -->
{% load bag_tools %}
<!-- 1 -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}" />
{% endblock extra_css %}
<!-- 1 -->
{% block head_title %} | Checkout {% endblock head_title %}
<!-- 1 -->
{% block content %}
<div class="container_background">
  <div class="container data_container about invert_shadow">
    <div class="inner_div_checkout back_shadow">
      <div class="container">
        <div class="row">
          <div class="col">
            <hr />
            <h2 class="hfib mb-4 text-center">Checkout</h2>
            <hr />
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-5">
            <p class="text-muted">Order Summary ({{ product_count }})</p>
            <div class="row">
              <div class="col-7 offset-2">
                <p class="mb-1 mt-0 small">Items</p>
              </div>
              <div class="col-3 text-right">
                <p class="mb-1 mt-0 small">Price</p>
              </div>
            </div>
            {% for item in bag_items %}
            <div class="row">
              <div class="col-2 mb-1">
                <a
                  href="{% url 'shop:product_detail' item.product.id %}"
                  style="width: 3rem"
                >
                  {% if item.product.image %}
                  <img
                    class="w-100"
                    src="{{ item.product.image.url }}"
                    alt="{{ product.name }}"
                  />
                  {% else %}
                  <img
                    class="w-100"
                    src="{{ MEDIA_URL }}no_image.png"
                    alt="{{ product.name }}"
                  />
                  {% endif %}
                </a>
              </div>
              <div class="col-7">
                <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
              </div>
              <div class="col-3 text-right">
                <p class="my-0 small">&euro;{{ item.product.price }}</p>
              </div>
            </div>
            {% endfor %}

            <hr class="my-0" />
            <br />
            <p class="ml-3 text-center">Please Check you details.</p>
            <div class="row text-black hf">
              <div class="col-7">
                <div class="my-0">{{profile.fullname}}</div>
                <div class="my-0">{{user.email}}</div>
                <div class="my-0">{{profile.phone_number}}</div>
                <div class="my-0">{{profile.street_address1}}</div>
                <div class="my-0">{{profile.street_address2}}</div>
                <div class="my-0">{{profile.town_or_city}}</div>
                <div class="my-0">{{profile.postcode}}</div>
                <div class="my-0">{{profile.county}}</div>
                <div class="my-0">{{profile.country}}</div>
              </div>
              <div class="col-3">
                <p class="my-0">Order Total:</p>
                <p class="my-0">Delivery:</p>
                <p class="my-0 hfb">Grand Total:</p>
              </div>
              <div class="col-2">
                <p class="my-0">&euro;{{ bag_total | floatformat:2 }}</p>
                <p class="my-0">&euro;{{ delivery | floatformat:2 }}</p>
                <p class="my-0">
                  <strong class=""
                    >&euro;{{ grand_total | floatformat:2 }}</strong
                  >
                </p>
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-6">
            <form
              action="{% url 'checkout:checkout_payment' %}"
              method="POST"
              id="payment-form"
            >
              {% csrf_token %}
              <fieldset class="px-3">
                <legend class="fieldset-label small text-black px-2 w-auto">
                  <i class="pl-2 fab fa-stripe fa-3x"></i>
                </legend>
                <!-- A Stripe card element will go here -->
                <div class="mb-3" id="card-element"></div>
                <!-- Used to display form errors -->
                <div
                  class="mb-3 text-danger"
                  id="card-errors"
                  role="alert"
                ></div>
                <!-- Pass the client secret to the view so we can get the payment intent id -->
                <input
                  type="hidden"
                  value="{{ client_secret }}"
                  name="client_secret"
                />
              </fieldset>

              <div class="submit-button text-right mt-5 mb-2 hfib">
                <button id="submit-button" class="btn-grad_blue w-100 hfib">
                  <span class="font-weight-bold mx-2">Complete Order</span>
                  <span class="icon">
                    <i class="fas fa-lock"></i>
                  </span>
                </button>
                <a href="{% url 'bag:bag_view' %}" class="btn-grad_pink">
                  <span class="icon">
                    <i class="fas fa-arrow-circle-left"></i>
                  </span>
                  <span class="font-weight-bold mx-1">Adjust Bag</span>
                </a>
                <p class="small text-danger my-0">
                  <span class="icon">
                    <i class="fas fa-exclamation-circle"></i>
                  </span>
                  <span
                    >Your card will be charged
                    <strong>&euro;{{ grand_total|floatformat:2 }}</strong></span
                  >
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div id="loading-overlay">
  <h1 class="text-light logo-font loading-spinner">
    <span class="icon">
      <i class="fas fa-3x fa-sync-alt fa-spin"></i>
    </span>
  </h1>
</div> -->
<div id="loading-overlay">
  <h1 class="">Finalising Payment</h1>
</div>
{% endblock %}
<!-- 1 -->
{% block postloadjs %}
<!-- 1 -->
{{ block.super }}
<!-- 1 -->
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
<!-- 1 -->
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock postloadjs %}
