{% extends "base.html" %}
<!-- 1 -->
{% load static %}
<!-- 1 -->
{% load bag_tools %}
<!-- 1 -->
<!-- 1 -->
{% block head_title %} | Checkout-Payment {% endblock head_title %}
<!-- 1 -->
{% block content %}
<section class="">
  <div class="container data_container gooeys invert_shadow">
    <div class="inner_div_checkout back_shadow">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <hr />
            <h2 class="hfib mb-4 text-center">Checkout</h2>
            <hr />
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-5">
            <p class="text-muted">Order Summary ({{ product_count }})</p>
            <div class="row">
              {% for item in bag_items %}
              <div class="row checkout_items">
                <div class="mb-1">
                  <a href="{% url 'shop:product_detail' item.product.id %}">
                    {% if item.product.image %}
                    <img
                      class=""
                      src="{{ item.product.image.url }}"
                      alt="{{ product.name }}"
                    />
                    {% else %}
                    <img
                      class=""
                      src="{{ MEDIA_URL }}no_image.png"
                      alt="{{ product.name }}"
                    />
                    {% endif %}
                  </a>
                </div>
                <div class="">
                  <p class="my-0">
                    <strong class="hf">{{ item.product.name }}</strong>
                  </p>
                  <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                </div>
                <div class="">
                  <p class="my-0 small">&euro;{{ item.product.get_price }}</p>
                </div>
              </div>

              {% endfor %}
            </div>
            <hr class="my-4" />
            <br />
            <div class="row text-black hf">
              <div class="col-6">
                <p class="my-0">Items:</p>
              </div>
              <div class="col-6">
                <p class="my-0 float-right">
                  &euro; {{ bag_total | floatformat:2 }}
                </p>
              </div>
            </div>
            <div class="row text-black hf">
              <div class="col-6">
                <p class="my-0">Delivery:</p>
              </div>
              <div class="col-6">
                <p class="my-0 float-right">
                  &euro; {{ delivery | floatformat:2 }}
                </p>
              </div>
            </div>
            <div class="row text-black hf">
              <div class="col-6">
                <p class="my-0 hfb">Grand Total:</p>
              </div>
              <div class="col-6">
                <p class="my-0">
                  <strong class="float-right"
                    >&euro; {{ grand_total | floatformat:2 }}</strong
                  >
                </p>
              </div>
            </div>
            <hr class="my-4" />
            <br />
            <p class="ml-3 hf">Delivaring To:</p>
            <div class="row text-black hf">
              <div class="col-6">
                <div class="my-0">{{profile.full_name|title}}</div>
                <div class="my-0">{{user.email}}</div>
                <div class="my-0">{{profile.phone_number}}</div>
                <div class="my-0">{{profile.street_address1}}</div>
                {% if not profile.street_address2 == 'None' %}
                <div class="my-0">{{profile.street_address2}}</div>
                {% else %} {% endif %}
                <div class="my-0">{{profile.town_or_city}}</div>
                <div class="my-0">{{profile.postcode}}</div>
                <div class="my-0">{{profile.county}}</div>
                <div class="my-0">{{profile.country}}</div>
              </div>
            </div>
          </div>
        </div>
        <hr class="mb-3" />
        <div class="row">
          <div class="col-12">
            <form
              action="{% url 'checkout:checkout_payment' %}"
              method="POST"
              id="payment-form"
            >
              {% csrf_token %}
              <input
                type="hidden"
                name="full_name"
                value="{{profile.full_name}}"
              />
              <input
                type="hidden"
                name="email"
                value="{{profile.user.email}}"
              />
              <input
                type="hidden"
                name="phone_number"
                value="{{profile.phone_number}}"
              />

              <input
                type="hidden"
                name="street_address1"
                value="{{profile.street_address1}}"
              />
              <input
                type="hidden"
                name="street_address2"
                value="{{profile.street_address2}}"
              />
              <input
                type="hidden"
                name="postcode"
                value="{{profile.postcode}}"
              />

              <input
                type="hidden"
                name="town_or_city"
                value="{{profile.town_or_city}}"
              />
              <input type="hidden" name="county" value="{{profile.county}}" />
              <input type="hidden" name="country" value="{{profile.country}}" />
              <fieldset class="px-3">
                <legend class="fieldset-label small text-black px-2 w-auto">
                  <i class="pl-2 fab fa-stripe fa-3x"></i>
                </legend>
                <!-- A Stripe card element will go here -->
                <div class="mb-3" id="card-element"></div>
                <!-- Used to display form errors -->
                <div
                  class="mb-3 text-danger"
                  id="card-errors"
                  role="alert"
                ></div>
                <!-- Pass the client secret to the view so we can get the payment intent id -->
                <input
                  type="hidden"
                  value="{{ client_secret }}"
                  name="client_secret"
                />
              </fieldset>

              <div class="row mb-4">
                <div class="col-12 payment-icons_container">
                  <img
                    class="payment_icons ml-1"
                    src="/static/img/visa-logo-svgrepo-com.svg"
                    alt="Instagram icon"
                  /><img
                    class="payment_icons ml-1"
                    src="/static/img/mastercard-2-logo-svgrepo-com.svg"
                    alt="Instagram icon"
                  /><img
                    class="payment_icons ml-1"
                    src="/static/img/american-express-svgrepo-com.svg"
                    alt="Instagram icon"
                  /><img
                    class="payment_icons ml-1"
                    src="/static/img/maestro-svgrepo-com.svg"
                    alt="Instagram icon"
                  /><img
                    class="payment_icons ml-1"
                    src="/static/img/jcb-svgrepo-com.svg"
                    alt="Instagram icon"
                  />
                </div>
              </div>
              <p class="small text-info my-1 text-center">
                <span class="icon">
                  <i class="fas fa-exclamation-circle"></i>
                </span>
                <span
                  >Your card will be charged
                  <strong>&euro;{{ grand_total|floatformat:2 }}</strong></span
                >
              </p>
              <div class="submit-button text-right mt-3 mb-2">
                <button id="submit-button" class="btn-grad_blue">
                  <span class="hfi mx-2">Make Payment</span>
                  <span class="icon">
                    <i class="fas fa-lock"></i>
                  </span>
                </button>
                <a href="{% url 'bag:bag_view' %}" class="btn-grad_pink mb-3">
                  <span class="icon">
                    <i class="fas fa-arrow-circle-left"></i>
                  </span>
                  <span class="hfi mx-1">Adjust Bag</span>
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Spinner -->
<div id="loading-overlay">
  <div class="loading-spinner hf text-center">
    <h1 class="display-3">Finalising Payment</h1>
    <h2 class="display-4">Please Do No Leave the Page</h2>
    <h2>you will be redirected as soon as payment is completed.</h2>
  </div>
</div>
{% endblock %}
<!-- 1 -->
{% block postloadjs %}
<!-- 1 -->
{{ block.super }}
<!-- 1 -->
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
<!-- 1 -->
{{ client_secret|json_script:"id_client_secret" }}
<!-- 1 -->

<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock postloadjs %}
