@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&family=Montserrat&display=swap");

:root {
  --garamond: "EB Garamond", serif;
  --montserrat: "Montserrat", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: var(--montserrat);
}

a {
  display: block;
  /* color: #0d6efd; */
  text-decoration: none;
}
section {
  height: fit-content;
}
.hf {
  font-family: var(--garamond);
}
.invert_shadow {
  box-shadow: 0px 2px 21px -1px rgba(0, 0, 0, 1),
    0px 2px 21px -1px rgba(0, 0, 0, 1) inset;
}
/* .back_blur {
  backdrop-filter: blur(5px);
} */
/* .overlay {
  background: url(/static/img/Iseult\ Design2000.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

/**--Bootsrap Toasts */

.message_container {
  position: fixed;
  top: 72px;
  right: 2rem;
  z-index: 9999999;
}
.custom-toast {
  overflow: visible;
}
.toast-capper {
  height: 2px;
}
