<!-- footer begin -->
<footer>
  <div class="container-fluid">
    <div class="row inner_footer">
      <div class="col-6 col-md-4 text-center">
        <a href="index.html"
          ><img
            alt=""
            class="footer_logo"
            src="/static/img/Logo-words-white-trans.svg"
        /></a>
      </div>

      <div class="col-6 col-md-4 text-white my-4">
        <div class="footer_pages_list">
          <h4 class="hf">Pages</h4>
          <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact Me</a></li>
            <li><a href="{% url 'gallery' %}">Gallery</a></li>
            <li><a href="{% url 'shop:shop' %}">Iseults Shop</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'profiles:profile' %}">Dashboard</a></li>
            <li><a href="{% url 'account_logout' %}">Log Out</a></li>
            {% else %}
            <li><a href="{% url 'account_login' %}">Login</a></li>
            {% endif %}
            <li><a href="{% url 'terms' %}">Terms of Use</a></li>
            <li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="social-icons_container">
            <a href="https://www.facebook.com/iseultmccormackcreations/"
              ><img
                class="social_icons"
                src="/static/img/facebook_colored.svg"
                alt="Facebook icon"
                target="_blank"
                rel="nopener noreferrer"
            /></a>
            <a href="#"
              ><img
                class="social_icons"
                src="/static/img/twitter.svg"
                alt="twitter icon"
                target="_blank"
                rel="nopener noreferrer"
            /></a>
            <a href="#"
              ><img
                class="social_icons"
                src="/static/img/instagram.svg"
                alt="Instagram icon"
                target="_blank"
                rel="nopener noreferrer"
            /></a>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center text-white mt-md-4">
            <h5 class="hf">Accepted payment methods</h5>
          </div>
          <div class="payment-icons_container">
            <img
              class="payment_icons ml-1"
              src="/static/img/visa-logo-svgrepo-com.svg"
              alt="Instagram icon"
            /><img
              class="payment_icons ml-1"
              src="/static/img/mastercard-2-logo-svgrepo-com.svg"
              alt="Instagram icon"
            /><img
              class="payment_icons ml-1"
              src="/static/img/american-express-svgrepo-com.svg"
              alt="Instagram icon"
            /><img
              class="payment_icons ml-1"
              src="/static/img/maestro-svgrepo-com.svg"
              alt="Instagram icon"
            /><img
              class="payment_icons ml-1"
              src="/static/img/jcb-svgrepo-com.svg"
              alt="Instagram icon"
            />
          </div>
          <div class="col-12 subfooter mt-3 text-white">
            &copy; Iseult McCormack Creations 2021
          </div>
          <div class="col-12 mt-1 subfooter">
            <a
              class="clint_link"
              href="http://www.clintondavis.org"
              target="_blank"
              rel="noopener noreferrer"
            >
              <strong>ClintonDavis.org</strong>
              <img
                class="cd_icon icons spinning"
                src="/static/img/CD_logo_plain.svg"
                alt="ClintonDavis.org icon"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer close -->
