<!-- footer begin -->
<footer class="">
  <div class="container-fluid">
    <div class="row inner_footer">
      <div class="col-md-4 text-center">
        <a href="index.html"
          ><img
            alt=""
            class="footer_logo"
            src="/static/img/Logo-words-white-trans.svg"
        /></a>
      </div>

      <div class="col-md-4 text-center text-white my-4">
        <h4 class="hf">Pages</h4>
        <ul>
          <!-- <li><a href="about-us.html">About Us</a></li> -->
          <li><a href="our-team.html">Contact</a></li>
          {% if user.is_authenticated %}
          <li><a href="login-2.html">Dashboard</a></li>
          <li><a href="login-2.html">Log Out</a></li>
          {% if user.is_superuser %}
          <li><a href="/iseult-admin/">Admin</a></li>
          {% endif %}
          <!-- 1 -->
          {% else %}
          <li><a href="login-2.html">Login</a></li>
          {% endif %}
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Privacy</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="social-icons_container">
            <a href="#"
              ><img
                class="social_icons"
                src="/static/img/facebook_colored.svg"
                alt="Facebook icon"
            /></a>
            <a href="#"
              ><img
                class="social_icons"
                src="/static/img/twitter.svg"
                alt="twitter icon"
            /></a>
            <a href="#"
              ><img
                class="social_icons"
                src="/static/img/instagram.svg"
                alt="Instagram icon"
            /></a>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center text-white mt-md-4">
            <h5 class="hf">Accepted payment methods</h5>
          </div>
          <div class="payment-icons_container">
            <img
              class="payment_icons ml-1"
              src="/static/img/visa-logo-svgrepo-com.svg"
              alt="Instagram icon"
            /><img
              class="payment_icons ml-1"
              src="/static/img/mastercard-2-logo-svgrepo-com.svg"
              alt="Instagram icon"
            /><img
              class="payment_icons ml-1"
              src="/static/img/american-express-svgrepo-com.svg"
              alt="Instagram icon"
            /><img
              class="payment_icons ml-1"
              src="/static/img/maestro-svgrepo-com.svg"
              alt="Instagram icon"
            /><img
              class="payment_icons ml-1"
              src="/static/img/jcb-svgrepo-com.svg"
              alt="Instagram icon"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 text-center mb-sm-30">
        <div class="my-4 text-white">
          &copy; Copyright 2020 - Iseult McCormack Creations by ClintoDavis.org
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer close -->
