<!-- footer begin -->
<footer class="">
  <div class="container-fluid">
    <div class="row inner_footer">
      <div class="col-md-4 text-center">
        <a href="index.html"
          ><img
            alt=""
            class="footer_logo"
            src="/static/img/Logo-words-black-trans.png"
        /></a>
      </div>

      <div class="col-md-4 text-center my-4">
        <h5>Pages</h5>
        <ul>
          <li><a href="about-us.html">About Us</a></li>
          <li><a href="our-team.html">Contact</a></li>

          <li><a href="login-2.html">Login</a></li>
          <li><a href="login-2.html">Admin</a></li>
          <li><a href="login-2.html">Log Out</a></li>
          <li><a href="login-2.html">Dashboard</a></li>
        </ul>
      </div>
      <div class="col-md-4 social-icons_container">
        <a href="#"
          ><img
            class="social_icons"
            src="/static/img/facebook_colored.svg"
            alt="Facebook icon"
        /></a>
        <a href="#"
          ><img
            class="social_icons"
            src="/static/img/twitter.svg"
            alt="twitter icon"
        /></a>
        <a href="#"
          ><img
            class="social_icons"
            src="/static/img/instagram.svg"
            alt="Instagram icon"
        /></a>
      </div>
    </div>

    <div class="row">
      <div class="col-12 text-center mb-sm-30">
        <div class="my-4">
          &copy; Copyright 2020 - Iseult McCormack by ClintoDavis.org
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer close -->
