{% extends "base.html" %}
<!-- 1 -->
{% load static %}
<!-- 1 -->
{% block head_title %}| Shop {% endblock head_title %}
<!-- 1 -->
{% block content %}
<!-- 1 -->
<section class="flyers">
  <div class="container shop_container_outer">
    <div class="row">
      <div class="col text-center mt-3">
        <h2 class="display-3 hfi text-wht p-3">Iseult's Shop</h2>
      </div>
    </div>
    <div class="row shop_catogery_links hfi">
      <ul>
        <li>
          <a href="{% url 'shop:shop' %}?category=scarves" class="">Scarves</a>
        </li>
        <li>
          <a href="{% url 'shop:shop' %}?category=paintings" class=""
            >Paintings</a
          >
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="container shop_container">
        {% for item in product %}
        <!-- 1 -->
        {% if item.in_stock %}
        <a href="{{ item.get_absolute_url }}" class="a_card">
          <div class="card m-3 p-1 ld ld-power-on" style="width: 18rem">
            {% if item.image %}
            <img
              src="{{ item.image.url }}"
              class="card-img-top"
              alt="{{ item.name}}"
            />
            {% else %}
            <img
              src="{{ MEDIA_URL }}no_image.png"
              class="card-img-top"
              alt="{{ item.name}}"
            />
            {% endif %}
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-center">{{ item.name}}</li>
              <li class="list-group-item text-center lg hf">
                &euro; {{ item.get_price }}
              </li>
            </ul>
          </div>
        </a>
        {% else %}
        <!-- 1 -->
        {% endif %}
        <!-- 1 -->
        {% endfor %}
        <!-- 1 -->
      </div>
    </div>
  </div>
</section>
{% endblock content %}
