{% extends "base.html" %}
<!-- 1 -->
{% load static %}
<!-- 1 -->
{% block head_title %}| Shop {% endblock head_title %}
<!-- 1 -->
{% block content %}
<!-- 1 -->
<h1>SHOP</h1>
{% for item in product %}
<!-- 1 -->
{% if item.in_stock %}
<a href="{{ item.get_absolute_url }}">
  <div class="card" style="width: 18rem">
    <img src="{{ item.image.url }}" class="card-img-top" alt="..." />
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{ item.name}}</li>
      <li class="list-group-item">{{ item.category.friendly_name}}</li>
      <li class="list-group-item">&euro; {{ item.price}}</li>
    </ul>
  </div>
</a>
{% else %}
<h1>Out of stock</h1>
{% endif %}
<!-- 1 -->
{% endfor %}
<!-- 1 -->
{% endblock content %}
