{% extends "base.html" %}
<!-- 1 -->
{% load static %}
<!-- 1 -->
{% load cloudinary %}
<!-- 1 -->

<!-- 1 -->
{% block head_title %}| Iseults Shop {% endblock head_title %}
<!-- 1 -->
{% block content %}
<!-- 1 -->
<section class="">
  <div class="container shop_container_outer">
    <div class="row">
      <div class="col text-center mt-3">
        <h2 class="display-3 hfi text-wht p-3">Iseult's Shop</h2>
      </div>
    </div>

    <div class="row shop_catogery_links hfi">
      <ul>
        <li>
          <a href="{% url 'shop:shop' %}?category=scarves" class="">Scarves</a>
        </li>
        <li>
          <a href="{% url 'shop:shop' %}?category=paintings" class=""
            >Paintings</a
          >
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="container shop_container">
        {% if product %}
        <!-- 1 -->
        {% for item in product %}
        <!-- 1 -->
        {% if item.in_stock %}
        <!-- 1 -->

        <a href="{{ item.get_absolute_url }}" class="a_card">
          <div class="card m-3 p-1">
            <img
              src="{{ item.image.url }}"
              class="card-img-top"
              alt="{{ item.name }}"
            />
            <h5 class="hf text-center">{{ item.name}}</h5>
            <ul class="item_details_list">
              <li class="text-muted">
                <i class="fas fa-tag mr-1"></i
                ><small>{{ item.category.friendly_name }}</small>
              </li>
              <li class="hf">&euro; {{ item.get_price }}</li>
            </ul>
          </div>
        </a>
        {% else %}
        <!-- 1 -->
        {% endif %}
        <!-- 1 -->
        {% endfor %}
        <!-- 1 -->
        {% else %}
        <div class="container no_stock-container">
          <div class="row">
            <div class="col-12">
              <h2 class="hf text-center">Sorry!</h2>
              <h3 class="hf text-center">
                Unfortunately, we are out of stock.
              </h3>
              <h4 class="text-center hf">
                Iseult is painting and the inks are drying.
              </h4>
              <h4 class="text-center hf">More coming soon.</h4>
              <p>
                Have a look at some of my perviours works to wet you appetite.
              </p>
              <a
                href="{% url 'gallery' %}"
                class="mx-auto btn-grad_blue hf w-50"
                >View Gallery</a
              >
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock content %}
